<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686337295504-d7hh5g7vljc4ht8v6c27a2g44ma9joq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686337295504-d7hh5g7vljc4ht8v6c27a2g44ma9joq9</string>
	<key>API_KEY</key>
	<string>AIzaSyChHxcpMBTOkeZvuM0Toge_0QkFXsRDsCs</string>
	<key>GCM_SENDER_ID</key>
	<string>686337295504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polijunior.notifications</string>
	<key>PROJECT_ID</key>
	<string>my-project-1592942147280</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1592942147280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686337295504:ios:db48e5f41bf3c9f9e9c415</string>
</dict>
</plist>